/node_modules
/language-server
/debug-server
/interpreter
/out
/obj
/bin

/package-lock.json
/out.log
/icon.xcf
/InterpreterVSCodeExtension.njsproj.user
/BBCodeExtension.vsix
/BBCodeInterpreter.deps.json
/BBCodeInterpreter.dll
/BBCodeInterpreter.exe
/BBCodeInterpreter.pdb
/BBCodeInterpreter.runtimeconfig.json
/sampleWorkspace
Data Utilities.deps.json
Data Utilities.dll
Data Utilities.exe
Data Utilities.pdb
Data Utilities.runtimeconfig.json
output.bin
output.txt
