/node_modules
/server
/out
/obj
/bin

/package-lock.json
/out.log
/icon.xcf
/InterpreterVSCodeExtension.njsproj.user
/BBCodeExtension.vsix
/BBCodeInterpreter.deps.json
/BBCodeInterpreter.dll
/BBCodeInterpreter.exe
/BBCodeInterpreter.pdb
/BBCodeInterpreter.runtimeconfig.json
/sampleWorkspace