.vscode/**
src/**
bin/**
obj/**

build.bat
upload.bat
InterpreterVSCodeExtension.njsproj
InterpreterVSCodeExtension.njsproj.user
.gitignore
tsconfig.json
BBCodeExtension.vsix
tslint.json

**/*.map
**/*.ts
